<footer class="site-footer">
    <img src="assets/images/shapes/footer-shape-1.png" class="site-footer__shape-1" alt="">
    <img src="assets/images/shapes/footer-shape-2.png" class="site-footer__shape-2" alt="">
    <img src="assets/images/shapes/footer-shape-3.png" class="site-footer__shape-3" alt="">
    <div class="site-footer__upper">
        <div class="container">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-widget footer-widget__about">
                        <a class="footer-widget__logo" href="index.html"><img src="assets/images/logo-1-1.png" width="105" alt="Awesome Image" /></a>
                        <p>Lorem Ipsum is simply dummy text the printing and setting industry. Lorm Ipsum has been the industry's stanard dummy text ever. </p>
                        <p><a href="mailto:needhelp@zimed.com">needhelp@zimed.com</a> <br /> <a href="tel:666-888-0000">666 888 0000</a></p>
                    </div><!-- /.footer-widget -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="footer-widget footer-widget__links">
                        <h3 class="footer-widget__title">Explore</h3>
                        <div class="footer-widget__links-wrap">
                            <ul class="list-unstyled">
                                <li><a href="#">About us</a></li>
                                <li><a href="#">Our Team</a></li>
                                <li><a href="#">All Features</a></li>
                                <li><a href="#">Our Services</a></li>
                                <li><a href="#">Latest Blog</a></li>
                            </ul><!-- /.list-unstyled -->
                            <ul class="list-unstyled">
                                <li><a href="#">Help</a></li>
                                <li><a href="#">Support</a></li>
                                <li><a href="#">Contact us</a></li>
                                <li><a href="#">Privacy Policy</a></li>
                                <li><a href="#">Terms & Condition</a></li>
                            </ul><!-- /.list-unstyled -->
                        </div><!-- /.footer-widget__links-wrap -->
                    </div><!-- /.footer-widget footer-widget__links -->
                </div><!-- /.col-lg-4 -->
                <div class="col-lg-4">
                    <div class="footer-widget footer-widget__subscribe">
                        <h3 class="footer-widget__title">Subscribe</h3>
                        <form class="footer-widget__mc-form mc-form" data-url="MAILCHIMP__POPUP__FORM__URL">
                            <input type="text" name="email" placeholder="Email address">
                            <button type="submit" class="thm-btn footer-widget__mc-btn">Register Now</button>
                        </form>
                        <div class="mc-form__response"></div><!-- /.mc-form__response -->
                    </div><!-- /.footer-widget footer-widget__subscribe -->
                </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </div><!-- /.site-footer__upper -->
    <div class="site-footer__bottom">
        <div class="container">
            <div class="inner-container">
                <div class="site-footer__social">
                    <a class="fab fa-facebook-f" href="#"></a>
                    <a class="fab fa-twitter" href="#"></a>
                    <a class="fab fa-instagram" href="#"></a>
                    <a class="fab fa-pinterest-p" href="#"></a>
                </div><!-- /.site-footer__social -->
                <p>© copyright 2020 by Layerdrops.com</p>
            </div><!-- /.inner-container -->
        </div><!-- /.container -->
    </div><!-- /.site-footer__bottom -->
</footer><!-- /.site-footer -->