<section class="banner-one" id="banner" style="background-image: url(assets/images/background/banner-bg-1-1.png);">

    <img src="assets/images/shapes/banner-shapes-1-1.png" alt="" class="banner-one__shape-1">
    <img src="assets/images/shapes/banner-shapes-1-2.png" alt="" class="banner-one__shape-2">

    <img src="assets/images/shapes/banner-shapes-1-4.png" alt="" class="banner-one__shape-4">
    <img src="assets/images/shapes/banner-shapes-1-5.png" alt="" class="banner-one__shape-5">
    <img src="assets/images/shapes/banner-shapes-1-6.png" alt="" class="banner-one__shape-6">
    <img src="assets/images/shapes/banner-shapes-1-7.png" alt="" class="banner-one__shape-7">

    <div class="container">
        <img src="assets/images/shapes/banner-shapes-1-3.png" alt="" class="banner-one__shape-moc-1">
        <img src="assets/images/mocs/banner-moc-1-1.png" alt="" class="banner-one__moc">
        <div class="row">
            <div class="col-lg-7">
                <div class="banner-one__content">
                    <p class="banner-one__tag-line">Welcome to SEO Business <a href="#">free trial</a></p>
                    <h3>We help achieve <br> biggest goals</h3>
                    <p>We are committed to providing our customers with exceptional service <br> while offering our
                        employees
                        the best training.</p>
                    <a href="#contact" data-target="#contact" class="thm-btn banner-one__btn scroll-to-target">Get Started</a><!-- /.thm-btn banner-one__btn -->
                </div><!-- /.banner-one__content -->
            </div><!-- /.col-lg-7 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.banner-one -->

<section class="service-one" id="features">
    <div class="container">
        <div class="block-title text-center">
            <span class="block-title__bubbles"></span>
            <p>Checkout App Features</p>
            <h3>The Only App You’ll Need</h3>
        </div><!-- /.block-title -->
        <div class="row">
            <div class="service-one__col wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="000ms">
                <div class="service-one__single">
                    <i class="zimed-icon-responsive"></i>
                    <h3>Free Setup</h3>
                </div><!-- /.service-one__single -->
            </div><!-- /.service-one__col -->
            <div class="service-one__col wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="100ms">
                <div class="service-one__single">
                    <i class="zimed-icon-computer-graphic"></i>
                    <h3>Quick Access</h3>
                </div><!-- /.service-one__single -->
            </div><!-- /.service-one__col -->
            <div class="service-one__col wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="200ms">
                <div class="service-one__single">
                    <i class="zimed-icon-development1"></i>
                    <h3>Manage Users</h3>
                </div><!-- /.service-one__single -->
            </div><!-- /.service-one__col -->
            <div class="service-one__col wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="300ms">
                <div class="service-one__single">
                    <i class="zimed-icon-development"></i>
                    <h3>Fully Secured</h3>
                </div><!-- /.service-one__single -->
            </div><!-- /.service-one__col -->
            <div class="service-one__col wow fadeInUp" data-wow-duration="1500ms" data-wow-delay="400ms">
                <div class="service-one__single">
                    <i class="zimed-icon-development"></i>
                    <h3>Daily Update</h3>
                </div><!-- /.service-one__single -->
            </div><!-- /.service-one__col -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.service-one -->

<div class="cta-three">

    <img src="assets/images/shapes/cta-1-shape-2.png" alt="" class="cta-three__shape-2">
    <img src="assets/images/shapes/cta-1-shape-3.png" alt="" class="cta-three__shape-3">
    <div class="container">
        <img src="assets/images/shapes/cta-1-shape-1.png" alt="" class="cta-three__shape-1">
        <img src="assets/images/mocs/cta-moc-1-1.png" alt="" class="cta-three__moc">
        <div class="row justify-content-end">
            <div class="col-lg-6">
                <div class="cta-three__content">
                    <div class="block-title text-left">
                        <span class="block-title__bubbles"></span>
                        <p>Checkout App Features</p>
                        <h3>Control Everything From One Application</h3>
                    </div><!-- /.block-title -->
                    <div class="cta-three__box-wrap">
                        <div class="cta-three__box">
                            <div class="cta-three__box-icon">
                                <i class="zimed-icon-strategy"></i>
                            </div><!-- /.cta-three__box-icon -->
                            <div class="cta-three__box-content">
                                <h3>Feature Here</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor anagi
                                    icdunt ut labore et dolore magna aliqua.</p>
                            </div><!-- /.cta-three__box-content -->
                        </div><!-- /.cta-three__box -->
                        <div class="cta-three__box">
                            <div class="cta-three__box-icon">
                                <i class="zimed-icon-training"></i>
                            </div><!-- /.cta-three__box-icon -->
                            <div class="cta-three__box-content">
                                <h3>Feature Here</h3>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor anagi
                                    icdunt ut labore et dolore magna aliqua.</p>
                            </div><!-- /.cta-three__box-content -->

                        </div><!-- /.cta-three__box -->
                    </div><!-- /.cta-three__box-wrap -->
                    <a href="#" class="thm-btn cta-three__btn">Discover More</a><!-- /.thm-btn cta-three__btn -->
                </div><!-- /.cta-three__content -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</div><!-- /.cta-three -->

<section class="cta-two">
    <img src="assets/images/shapes/cta-2-shape-1.png" alt="" class="cta-two__shape-1">
    <img src="assets/images/shapes/cta-2-shape-2.png" alt="" class="cta-two__shape-2">
    <div class="container">
        <img src="assets/images/shapes/cta-2-shape-3.png" alt="" class="cta-two__shape-3">
        <img src="assets/images/mocs/cta-moc-2-1.png" alt="" class="cta-two__moc">
        <div class="row">
            <div class="col-xl-5 col-lg-6">
                <div class="cta-two__content">
                    <div class="block-title text-left">
                        <span class="block-title__bubbles"></span>
                        <p>Checkout App Features</p>
                        <h3>Discover the Powerful Tools For Your Repeat Customers</h3>
                    </div><!-- /.block-title -->
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry when an unknown printer
                        took a galley of type and scrambled it to make. Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit.</p>
                    <a href="#" class="thm-btn cta-two__btn">Discover More</a><!-- /.thm-btn cta-two__btn -->
                </div><!-- /.cta-two__content -->
            </div><!-- /.col-lg-5 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.cta-two -->

<section class="video-one">
    <div class="container">
        <div class="video-one__box wow fadeInUp" data-wow-duration="1500ms">
            <img src="assets/images/resources/video-1-1.jpg" alt="">
            <div class="video-one__content">
                <a href="https://www.youtube.com/watch?v=aitb---aDYM" class="video-popup"><i class="fa fa-play"></i></a>
                <h3>Watch Our Video</h3>
            </div><!-- /.video-one__content -->
        </div><!-- /.video-one__box -->
    </div><!-- /.container -->
</section><!-- /.video-one -->

<section class="funfact-one">
    <img src="assets/images/shapes/pricing-shape-1.png" alt="" class="funfact-one__shape-1">
    <img src="assets/images/shapes/pricing-shape-2.png" alt="" class="funfact-one__shape-2">
    <img src="assets/images/shapes/pricing-shape-3.png" alt="" class="funfact-one__shape-3">


    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="funfact-one__single">
                    <h3 class="counter">7842</h3>
                    <p>Downloads</p>
                </div><!-- /.funfact-one__single -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3 col-md-6">
                <div class="funfact-one__single">
                    <h3 class="counter">6020</h3>
                    <p>Likes</p>
                </div><!-- /.funfact-one__single -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3 col-md-6">
                <div class="funfact-one__single">
                    <h3 class="counter">360</h3>
                    <p>5 Star Rating</p>
                </div><!-- /.funfact-one__single -->
            </div><!-- /.col-lg-3 -->
            <div class="col-lg-3 col-md-6">
                <div class="funfact-one__single">
                    <h3 class="counter">200</h3>
                    <p>Awards</p>
                </div><!-- /.funfact-one__single -->
            </div><!-- /.col-lg-3 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.funfact-one -->

<section class="pricing-one" id="pricing">
    <div class="container">
        <div class="pricing-one__sep"></div><!-- /.pricing-one__sep -->
        <div class="block-title text-center">
            <span class="block-title__bubbles"></span>
            <p>Our Pricing Tables</p>
            <h3>Choose Pricing Plans</h3>
        </div><!-- /.block-title -->
        <ul class="list-inline text-center switch-toggler-list" role="tablist" id="switch-toggle-tab">
            <li class="month active"><a href="#">Monthly</a></li>
            <li>
                <!-- Rounded switch -->
                <label class="switch on">
                    <span class="slider round"></span>
                </label>
            </li>
            <li class="year"><a href="#">Yearly</a></li>
        </ul><!-- /.list-inline -->
        <div class="tabed-content">
            <div id="month">
                <div class="row">
                    <div class="col-lg-4 wow fadeInLeft" data-wow-duration="1500ms">
                        <div class="pricing-one__single">
                            <div class="pricing-one__inner">
                                <img src="assets/images/shapes/pricing-line-1-1.png" alt="" class="pricing-one__line">
                                <img src="assets/images/shapes/pricing-icon-1-1.png" alt="" class="pricing-one__icon">
                                <h3>$20.00</h3>
                                <p>Basic Pack</p>
                                <ul class="list-unstyled pricing-one__list">
                                    <li><i class="fa fa-check"></i> Extra features</li>
                                    <li><i class="fa fa-check"></i> Lifetime free support</li>
                                    <li><i class="fa fa-check"></i> Upgrate options</li>
                                    <li><i class="fa fa-check"></i> Full access</li>
                                </ul><!-- /.list-unstyled pricing-one__list -->
                                <a href="#" class="thm-btn pricing-one__btn">Get Started</a><!-- /.thm-btn -->
                                <span>Get a Free Trial</span>
                            </div><!-- /.pricing-one__inner -->
                        </div><!-- /.pricing-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="pricing-one__single">
                            <div class="pricing-one__inner">
                                <img src="assets/images/shapes/pricing-line-1-1.png" alt="" class="pricing-one__line">
                                <img src="assets/images/shapes/pricing-icon-1-2.png" alt="" class="pricing-one__icon">
                                <h3>$30.00</h3>
                                <p>Standard Pack</p>
                                <ul class="list-unstyled pricing-one__list">
                                    <li><i class="fa fa-check"></i> Extra features</li>
                                    <li><i class="fa fa-check"></i> Lifetime free support</li>
                                    <li><i class="fa fa-check"></i> Upgrate options</li>
                                    <li><i class="fa fa-check"></i> Full access</li>
                                </ul><!-- /.list-unstyled pricing-one__list -->
                                <a href="#" class="thm-btn pricing-one__btn">Get Started</a><!-- /.thm-btn -->
                                <span>Get a Free Trial</span>
                            </div><!-- /.pricing-one__inner -->
                        </div><!-- /.pricing-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 wow fadeInRight" data-wow-duration="1500ms">
                        <div class="pricing-one__single">
                            <div class="pricing-one__inner">
                                <img src="assets/images/shapes/pricing-line-1-1.png" alt="" class="pricing-one__line">
                                <img src="assets/images/shapes/pricing-icon-1-3.png" alt="" class="pricing-one__icon">
                                <h3>$40.00</h3>
                                <p>Ultimate Pack</p>
                                <ul class="list-unstyled pricing-one__list">
                                    <li><i class="fa fa-check"></i> Extra features</li>
                                    <li><i class="fa fa-check"></i> Lifetime free support</li>
                                    <li><i class="fa fa-check"></i> Upgrate options</li>
                                    <li><i class="fa fa-check"></i> Full access</li>
                                </ul><!-- /.list-unstyled pricing-one__list -->
                                <a href="#" class="thm-btn pricing-one__btn">Get Started</a><!-- /.thm-btn -->
                                <span>Get a Free Trial</span>
                            </div><!-- /.pricing-one__inner -->
                        </div><!-- /.pricing-one__single -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /#month -->
            <div id="year">
                <div class="row">
                    <div class="col-lg-4 wow fadeInLeft" data-wow-duration="1500ms">
                        <div class="pricing-one__single">
                            <div class="pricing-one__inner">
                                <img src="assets/images/shapes/pricing-line-1-1.png" alt="" class="pricing-one__line">
                                <img src="assets/images/shapes/pricing-icon-1-1.png" alt="" class="pricing-one__icon">
                                <h3>$99.00</h3>
                                <p>Basic Pack</p>
                                <ul class="list-unstyled pricing-one__list">
                                    <li><i class="fa fa-check"></i> Extra features</li>
                                    <li><i class="fa fa-check"></i> Lifetime free support</li>
                                    <li><i class="fa fa-check"></i> Upgrate options</li>
                                    <li><i class="fa fa-check"></i> Full access</li>
                                </ul><!-- /.list-unstyled pricing-one__list -->
                                <a href="#" class="thm-btn pricing-one__btn">Get Started</a><!-- /.thm-btn -->
                                <span>Get a Free Trial</span>
                            </div><!-- /.pricing-one__inner -->
                        </div><!-- /.pricing-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                        <div class="pricing-one__single">
                            <div class="pricing-one__inner">
                                <img src="assets/images/shapes/pricing-line-1-1.png" alt="" class="pricing-one__line">
                                <img src="assets/images/shapes/pricing-icon-1-2.png" alt="" class="pricing-one__icon">
                                <h3>$199.00</h3>
                                <p>Standard Pack</p>
                                <ul class="list-unstyled pricing-one__list">
                                    <li><i class="fa fa-check"></i> Extra features</li>
                                    <li><i class="fa fa-check"></i> Lifetime free support</li>
                                    <li><i class="fa fa-check"></i> Upgrate options</li>
                                    <li><i class="fa fa-check"></i> Full access</li>
                                </ul><!-- /.list-unstyled pricing-one__list -->
                                <a href="#" class="thm-btn pricing-one__btn">Get Started</a><!-- /.thm-btn -->
                                <span>Get a Free Trial</span>
                            </div><!-- /.pricing-one__inner -->
                        </div><!-- /.pricing-one__single -->
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4 wow fadeInRight" data-wow-duration="1500ms">
                        <div class="pricing-one__single">
                            <div class="pricing-one__inner">
                                <img src="assets/images/shapes/pricing-line-1-1.png" alt="" class="pricing-one__line">
                                <img src="assets/images/shapes/pricing-icon-1-3.png" alt="" class="pricing-one__icon">
                                <h3>$299.00</h3>
                                <p>Ultimate Pack</p>
                                <ul class="list-unstyled pricing-one__list">
                                    <li><i class="fa fa-check"></i> Extra features</li>
                                    <li><i class="fa fa-check"></i> Lifetime free support</li>
                                    <li><i class="fa fa-check"></i> Upgrate options</li>
                                    <li><i class="fa fa-check"></i> Full access</li>
                                </ul><!-- /.list-unstyled pricing-one__list -->
                                <a href="#" class="thm-btn pricing-one__btn">Get Started</a><!-- /.thm-btn -->
                                <span>Get a Free Trial</span>
                            </div><!-- /.pricing-one__inner -->
                        </div><!-- /.pricing-one__single -->
                    </div><!-- /.col-lg-4 -->
                </div><!-- /.row -->
            </div><!-- /#year -->
        </div><!-- /.tabed-content -->

    </div><!-- /.container -->
</section><!-- /.pricing-one -->

<section class="app-shot-one" id="app-shots">
    <img src="assets/images/shapes/contact-shape-3.png" alt="" class="app-shot__shape-1">
    <img src="assets/images/shapes/contact-shape-2.png" alt="" class="app-shot__shape-2">

    <div class="container-fluid">
        <div class="block-title text-center">
            <span class="block-title__bubbles"></span>
            <p>Checkout App Interface</p>
            <h3>App Screenshots</h3>
        </div><!-- /.block-title -->
        <div class="app-shot-one__carousel thm__owl-carousel owl-theme owl-carousel" data-options='{ "loop": true, "margin": 43, "nav": false, "dots": true, "autoWidth": false, "autoplay": true, "smartSpeed": 700, "autoplayTimeout": 5000, "autoplayHoverPause": true, "slideBy": 5, "responsive": { "0": { "items": 1 }, "480": { "items": 2 }, "600": { "items": 3 }, "991": { "items": 4 }, "1000": { "items": 5 }, "1200": { "items": 5 } } }'>
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-1.jpg" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-2.jpg" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-3.jpg" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-4.jpg" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-5.jpg" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-1.jpg" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-2.jpg" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-3.jpg" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-4.jpg" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-5.jpg" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-1.jpg" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-2.jpg" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-3.jpg" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-4.jpg" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/app-shots/app-shot-1-5.jpg" alt="">
            </div><!-- /.item -->
        </div><!-- /.app-shot-one__carousel owl-theme owl-carousel -->
    </div><!-- /.container-fluid -->
</section><!-- /.app-shot-one -->

<section class="testimonials__one" id="testimonials">
    <img src="assets/images/shapes/map-1-1.png" alt="Awesome Image" class="map-img" />
    <img src="assets/images/shapes/testi-shape-1.png" alt="" class="testimonials__one-shape-1">
    <img src="assets/images/shapes/testi-shape-2.png" alt="" class="testimonials__one-shape-2">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 d-flex">
                <div class="my-auto wow fadeInUp" data-wow-duration="1500ms">
                    <div id="testimonials-slider-pager">
                        <div class="testimonials-slider-pager-one">
                            <a href="#" class="pager-item active" data-slide-index="0"><img src="assets/images/testimonials/testi-1-1.jpg" alt="Awesome Image" /></a>
                            <a href="#" class="pager-item" data-slide-index="1"><img src="assets/images/testimonials/testi-1-2.jpg" alt="Awesome Image" /></a>
                            <a href="#" class="pager-item" data-slide-index="2"><img src="assets/images/testimonials/testi-1-3.jpg" alt="Awesome Image" /></a>
                            <a href="#" class="pager-item" data-slide-index="3"><img src="assets/images/testimonials/testi-1-4.jpg" alt="Awesome Image" /></a>
                            <a href="#" class="pager-item" data-slide-index="4"><img src="assets/images/testimonials/testi-1-5.jpg" alt="Awesome Image" /></a>
                            <a href="#" class="pager-item" data-slide-index="5"><img src="assets/images/testimonials/testi-1-6.jpg" alt="Awesome Image" /></a>
                        </div><!-- /.testimonials-slider-pager-one -->
                        <div class="testimonials-slider-pager-two">
                            <a href="#" class="pager-item active" data-slide-index="0"><img src="assets/images/testimonials/testi-1-1.jpg" alt="Awesome Image" /></a>
                            <a href="#" class="pager-item" data-slide-index="1"><img src="assets/images/testimonials/testi-1-2.jpg" alt="Awesome Image" /></a>
                            <a href="#" class="pager-item" data-slide-index="2"><img src="assets/images/testimonials/testi-1-3.jpg" alt="Awesome Image" /></a>
                            <a href="#" class="pager-item" data-slide-index="3"><img src="assets/images/testimonials/testi-1-4.jpg" alt="Awesome Image" /></a>
                            <a href="#" class="pager-item" data-slide-index="4"><img src="assets/images/testimonials/testi-1-5.jpg" alt="Awesome Image" /></a>
                            <a href="#" class="pager-item" data-slide-index="5"><img src="assets/images/testimonials/testi-1-6.jpg" alt="Awesome Image" /></a>
                        </div><!-- /.testimonials-slider-pager-two -->
                    </div><!-- /#testimonials-slider-pager -->
                </div><!-- /.my-auto -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="block-title text-left">
                    <span class="block-title__bubbles"></span>
                    <p>Checkout Latest Posts</p>
                    <h3>What Our Clients Are Saying</h3>
                </div><!-- /.block-title -->
                <ul class="slider testimonials-slider">
                    <li class="slide-item">
                        <div class="testimonials__one__single">
                            <p>This is due to their excellent service, competitive pricing and customer support. It’s
                                throughly refresing to get such a personal touch. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <h3>Delila Rayam</h3>
                        </div><!-- /.testimonials__one__single -->
                    </li>
                    <li class="slide-item">
                        <div class="testimonials__one__single">
                            <p>This is due to their excellent service, competitive pricing and customer support. It’s
                                throughly refresing to get such a personal touch. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <h3>Terrilyn Werme</h3>
                        </div><!-- /.testimonials__one__single -->
                    </li>
                    <li class="slide-item">
                        <div class="testimonials__one__single">
                            <p>This is due to their excellent service, competitive pricing and customer support. It’s
                                throughly refresing to get such a personal touch. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <h3>Kyle Demayo</h3>
                        </div><!-- /.testimonials__one__single -->
                    </li>
                    <li class="slide-item">
                        <div class="testimonials__one__single">
                            <p>This is due to their excellent service, competitive pricing and customer support. It’s
                                throughly refresing to get such a personal touch. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <h3>Minta Hadad</h3>
                        </div><!-- /.testimonials__one__single -->
                    </li>
                    <li class="slide-item">
                        <div class="testimonials__one__single">
                            <p>This is due to their excellent service, competitive pricing and customer support. It’s
                                throughly refresing to get such a personal touch. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <h3>Sherman Cibrian</h3>
                        </div><!-- /.testimonials__one__single -->
                    </li>
                    <li class="slide-item">
                        <div class="testimonials__one__single">
                            <p>This is due to their excellent service, competitive pricing and customer support. It’s
                                throughly refresing to get such a personal touch. Duis aute irure dolor in reprehenderit
                                in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p>
                            <h3>Adrianne Hagans</h3>
                        </div><!-- /.testimonials__one__single -->
                    </li>
                </ul>
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.testimonials__one -->

<section class="brand-one brand-one__home-one">
    <div class="container">
        <div class="brand-one__carousel owl-carousel thm__owl-carousel owl-theme" data-options='{"loop": true, "autoplay": true, "autoplayHoverPause": true, "autoplayTimeout": 5000, "items": 5, "dots": false, "nav": false, "margin": 100, "smartSpeed": 700, "responsive": { "0": {"items": 2, "margin": 30}, "480": {"items": 3, "margin": 30}, "991": {"items": 4, "margin": 50}, "1199": {"items": 5, "margin": 100}}}'>
            <div class="item">
                <img src="assets/images/brand/brand-1-1.png" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/brand/brand-1-2.png" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/brand/brand-1-3.png" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/brand/brand-1-4.png" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/brand/brand-1-5.png" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/brand/brand-1-6.png" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/brand/brand-1-1.png" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/brand/brand-1-2.png" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/brand/brand-1-3.png" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/brand/brand-1-4.png" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/brand/brand-1-5.png" alt="">
            </div><!-- /.item -->
            <div class="item">
                <img src="assets/images/brand/brand-1-6.png" alt="">
            </div><!-- /.item -->
        </div><!-- /.brand-one__carousel owl-carousel thm__owl-carousel owl-theme -->
    </div><!-- /.container -->
</section><!-- /.brand-one -->

<section class="faq-one">
    <img src="assets/images/shapes/faq-shape-1.png" alt="" class="faq-one__shape-1">
    <img src="assets/images/shapes/faq-shape-2.png" alt="" class="faq-one__shape-2">
    <img src="assets/images/shapes/faq-shape-3.png" alt="" class="faq-one__shape-3">
    <div class="container">
        <div class="block-title text-center">
            <span class="block-title__bubbles"></span>
            <p>Frequently Asked Questions</p>
            <h3>Have any Question?</h3>
        </div><!-- /.block-title -->
        <div class="accrodion-grp wow fadeIn" data-wow-duration="1500ms" data-grp-name="faq-accrodion">
            <div class="accrodion active ">
                <div class="accrodion-inner">
                    <div class="accrodion-title">
                        <h4>Pre and post launch mobile app marketing pitfalls to avoid</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>There are many variations of passages of available but majority have alteration in some
                                by inject humour or random words. Lorem ipsum dolor sit amet, error insolens reprimique
                                no quo, ea pri verterem phaedr vel ea iisque aliquam.</p>
                        </div><!-- /.inner -->
                    </div>
                </div><!-- /.accrodion-inner -->
            </div>
            <div class="accrodion  ">
                <div class="accrodion-inner">
                    <div class="accrodion-title">
                        <h4>Pre and post launch mobile app marketing pitfalls to avoid</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>There are many variations of passages of available but majority have alteration in some
                                by inject humour or random words. Lorem ipsum dolor sit amet, error insolens reprimique
                                no quo, ea pri verterem phaedr vel ea iisque aliquam.</p>
                        </div><!-- /.inner -->
                    </div>
                </div><!-- /.accrodion-inner -->
            </div>
            <div class="accrodion ">
                <div class="accrodion-inner">
                    <div class="accrodion-title">
                        <h4>How to update application new features</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>There are many variations of passages of available but majority have alteration in some
                                by inject humour or random words. Lorem ipsum dolor sit amet, error insolens reprimique
                                no quo, ea pri verterem phaedr vel ea iisque aliquam.</p>
                        </div><!-- /.inner -->
                    </div>
                </div><!-- /.accrodion-inner -->
            </div>
            <div class="accrodion ">
                <div class="accrodion-inner">
                    <div class="accrodion-title">
                        <h4>How to connect with the support to improve app experience</h4>
                    </div>
                    <div class="accrodion-content">
                        <div class="inner">
                            <p>There are many variations of passages of available but majority have alteration in some
                                by inject humour or random words. Lorem ipsum dolor sit amet, error insolens reprimique
                                no quo, ea pri verterem phaedr vel ea iisque aliquam.</p>
                        </div><!-- /.inner -->
                    </div>
                </div><!-- /.accrodion-inner -->
            </div>
        </div>
    </div><!-- /.container -->
</section><!-- /.faq-one -->

<section class="blog-one blog-one__home" id="blog">
    <img src="assets/images/shapes/blog-shape-1-1.png" alt="" class="blog-one__shape-1">
    <div class="container">
        <div class="block-title text-center">
            <span class="block-title__bubbles"></span>
            <p>Checkout Latest Posts</p>
            <h3>News & Articles</h3>
        </div><!-- /.block-title -->
        <div class="row">
            <div class="col-lg-4 wow fadeInLeft" data-wow-duration="1500ms">
                <div class="blog-one__single">
                    <div class="blog-one__image">
                        <img src="assets/images/blog/blog-1-1.jpg" alt="">
                    </div><!-- /.blog-one__image -->
                    <div class="blog-one__content">
                        <ul class="blog-one__meta list-unstyled">
                            <li><a href="#"><i class="far fa-clock"></i> 20 Feb</a></li>
                            <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a></li>
                        </ul><!-- /.blog-one__meta list-unstyled -->
                        <h3><a href="blog-details.html">Pre and post launch mobile app marketing pitfalls to avoid</a>
                        </h3>
                        <a href="blog-details.html" class="blog-one__link"><i class="zimed-icon-right-arrow"></i></a>
                        <!-- /.blog-one__link -->
                    </div><!-- /.blog-one__content -->
                </div><!-- /.blog-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 wow fadeInUp" data-wow-duration="1500ms">
                <div class="blog-one__single">
                    <div class="blog-one__image">
                        <img src="assets/images/blog/blog-1-2.jpg" alt="">
                    </div><!-- /.blog-one__image -->
                    <div class="blog-one__content">
                        <ul class="blog-one__meta list-unstyled">
                            <li><a href="#"><i class="far fa-clock"></i> 20 Feb</a></li>
                            <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a></li>
                        </ul><!-- /.blog-one__meta list-unstyled -->
                        <h3><a href="blog-details.html">It is all exactly as i said, but i don't like it let's unpack
                                that</a></h3>
                        <a href="blog-details.html" class="blog-one__link"><i class="zimed-icon-right-arrow"></i></a>
                        <!-- /.blog-one__link -->
                    </div><!-- /.blog-one__content -->
                </div><!-- /.blog-one__single -->
            </div><!-- /.col-lg-4 -->
            <div class="col-lg-4 wow fadeInRight" data-wow-duration="1500ms">
                <div class="blog-one__single">
                    <div class="blog-one__image">
                        <img src="assets/images/blog/blog-1-3.jpg" alt="">
                    </div><!-- /.blog-one__image -->
                    <div class="blog-one__content">
                        <ul class="blog-one__meta list-unstyled">
                            <li><a href="#"><i class="far fa-clock"></i> 20 Feb</a></li>
                            <li><a href="#"><i class="far fa-comments"></i> 2 Comments</a></li>
                        </ul><!-- /.blog-one__meta list-unstyled -->
                        <h3><a href="blog-details.html">I just wanted to give you a heads-up, or this you feel you
                                would</a></h3>
                        <a href="blog-details.html" class="blog-one__link"><i class="zimed-icon-right-arrow"></i></a>
                        <!-- /.blog-one__link -->
                    </div><!-- /.blog-one__content -->
                </div><!-- /.blog-one__single -->
            </div><!-- /.col-lg-4 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.blog-one -->

<section class="contact-one" id="contact">
    <img src="assets/images/shapes/contact-shape-1.png" alt="" class="contact-one__shape-1">
    <img src="assets/images/shapes/contact-shape-2.png" alt="" class="contact-one__shape-2">
    <img src="assets/images/shapes/contact-shape-3.png" alt="" class="contact-one__shape-3">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="contact-one__content">
                    <div class="contact-one__images">
                        <img src="assets/images/resources/contact-1.jpg" class="wow fadeInUp" data-wow-duration="1500ms" alt="">
                        <img src="assets/images/resources/contact-2.jpg" class="wow fadeInUp" data-wow-duration="1500ms" alt="">
                    </div><!-- /.contact-one__images -->
                    <div class="contact-one__infos">
                        <div class="contact-one__infos-single">
                            <div class="contact-one__infos-icon">
                                <i class="zimed-icon-placeholder"></i>
                            </div><!-- /.contact-one__infos-icon -->
                            <div class="contact-one__infos-content">
                                <h3>Addresss</h3>
                                <p>20 Broklyn Street, New York. United States of <br> America </p>
                            </div><!-- /.contact-one__infos-content -->
                        </div><!-- /.contact-one__infos-single -->
                        <div class="contact-one__infos-single">
                            <div class="contact-one__infos-icon">
                                <i class="zimed-icon-message"></i>
                            </div><!-- /.contact-one__infos-icon -->
                            <div class="contact-one__infos-content">
                                <h3>Email</h3>
                                <p><a href="mailto:needhelp@zimed.com">needhelp@zimed.com</a></p>
                            </div><!-- /.contact-one__infos-content -->
                        </div><!-- /.contact-one__infos-single -->
                        <div class="contact-one__infos-single">
                            <div class="contact-one__infos-icon">
                                <i class="zimed-icon-phone-call"></i>
                            </div><!-- /.contact-one__infos-icon -->
                            <div class="contact-one__infos-content">
                                <h3>Phone</h3>
                                <p><a href="tel:666-888-0000">666 888 0000</a></p>
                            </div><!-- /.contact-one__infos-content -->
                        </div><!-- /.contact-one__infos-single -->
                    </div><!-- /.contact-one__infos -->
                </div><!-- /.contact-one__content -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-6">
                <div class="contact-one__form-wrap">
                    <div class="block-title">
                        <span class="block-title__bubbles"></span>
                        <p>Contact Us Now</p>
                        <h3>Write a Message</h3>
                    </div><!-- /.block-title -->
                    <form action="assets/inc/sendemail.php" class="contact-form-validated contact-one__form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" name="name" placeholder="Name">
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <input type="text" name="email" placeholder="Email">
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <input type="text" name="subject" placeholder="Subject">
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-6">
                                <select name="discuss" class="selectpicker">
                                    <option value="">Discussion For</option>
                                    <option value="">Free Trial</option>
                                    <option value="">Busniess Inquery</option>
                                </select>
                            </div><!-- /.col-md-6 -->
                            <div class="col-md-12">
                                <textarea name="message" placeholder="Message"></textarea>
                                <button type="submit" class="thm-btn contact-one__form-btn">Send Message</button>
                            </div><!-- /.col-md-12 -->
                        </div><!-- /.row -->
                    </form><!-- /.contact-one__form -->
                    <div class="result"></div><!-- /.result -->
                </div><!-- /.contact-one__form-wrap -->
            </div><!-- /.col-lg-6 -->
        </div><!-- /.row -->
    </div><!-- /.container -->
</section><!-- /.contact-one -->

<section class="cta-one">
    <div class="container">
        <div class="cta-one__circle-1"></div><!-- /.cta-one__circle-1 -->
        <div class="cta-one__circle-2"></div><!-- /.cta-one__circle-2 -->
        <div class="cta-one__circle-3"></div><!-- /.cta-one__circle-3 -->
        <div class="cta-one__content text-center">
            <h3>Download our App Today & <br> Experience Endless Possibilities</h3>
            <p>and get started with a free 1 month trial for your business</p>
            <a href="#" class="thm-btn cta-one__btn">Download Our App</a><!-- /.thm-btn cta-one__btn -->
        </div><!-- /.cta-one__content -->
    </div><!-- /.container -->
</section><!-- /.cta-one -->